/* Font Family */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* Reset Styling */

:root {
    --white-color: #fff;
    --dark-color: #000;
    --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-color);
    font-family: 'Montserrat', sans-serif;
}

/* Utility Class */

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 1.5rem;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

ul {
    list-style: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 10fr;
}

/* for mobile part */

.mobile-header {
    display: none;
}

.toggles {
    cursor: pointer;
}

/* Sidebar Styling */

.sidebar {
    width: 100%;
    display: grid;
    grid-template-rows: 3fr 4fr;
    color: var(--white-color);
    margin: 4rem 3rem 7rem 0;
    padding: 1rem;
}

.sidebar .siteLink {
    grid-row: 4 / span 1;
}

.sidebar img {
    width: 50%;
}

.sidebar .siteLink li {
    margin: 0 0 1rem 0;
}

.sidebar .siteLink a {
    font-size: 1.5rem;
    font-weight: bold;
}

.sidebar .siteLink a::after {
    content: '';
    display: block;
    width: 1%;
    height: 2px;
    background-color: var(--white-color);
    transition: all 0.5s ease-in;
}

.sidebar .siteLink a:hover::after {
    width: 50%;
}

/* About Page */

.about-container {
    background: var(--white-color);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.about-container div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

.about-container div:nth-child(1) img {
    margin: 0 0 -6rem -0.06rem;
}

.about-container div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 4rem 1rem;
}

.about-container div:nth-child(2) p:nth-child(2) {
    padding: 1rem 1.2rem;
}

.about-container div:nth-child(2) p:nth-child(3) {
    padding: 1rem 1.2rem;
    line-height: 2;
}

/* Work Page */

.work-container {
    background: var(--white-color);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;
    padding: 4rem 2rem;
}

.work-container div {
    width: 250px;
    height: 150px;
    background-color: #ccc;
    cursor: pointer;
}

/* contact Page */

.contact-container {
    background: var(--white-color);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10rem;
}

.contact-container div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 0 0 0;
}

.contact-container div i, h4 {
    padding: 0.5rem 1rem;
}

.contact-container div:nth-child(1) i, h4 {
    padding: 0.5rem 1.2rem;
}

.contact-container div:nth-child(3) i, h4 {
    padding: 0.5rem 1.12rem;
}

.contact-container div:nth-child(4) {
    margin-top: 3rem;
}

.contact-container div:nth-child(4) i, h4 {
    padding: 0.5rem 1.3rem;
}

.contact-container div:nth-child(5) i, h4 {
    padding: 0.5rem 1.1rem;
}

.contact-container div:nth-child(6) i, h4 {
    padding: 0.5rem 1.3rem;
}

/* for landscape Mode */

@media (max-height:678px) {
    .contact-container {
        height: 100%;
    }
}
